@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
  background-color: #111827;
  color: #ffffff;
}

table {
  width: 100%;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

.w100 {
  width: 100%;
}

input {
  color: #000000;
}